.main__subscription-form-name-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__subscription-form-country-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__subscription-form-input {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    margin-bottom: 1vw;
    padding: 5px;
    &:focus {
        background-color: $sectionDarkBg;
    }
}

.main__subscription-form-input--size{
    width: 15vw;
}

.main__subscription-form-input-width{
    width: 100%;
}

.main__subscription-form-payment-content {
    margin-bottom: 1vw;
    text-align: center;
}

.main__subscription-form-payment-inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main__subscription-form-payment-input--size {
    width: 6vw;
}

.main__subscription-form-textarea {
    background-color: transparent;
    width: 100%;
    height: 6vw;
    &:focus {
        background-color: $sectionDarkBg;
    }
}

@media(max-width:1230px){
    .main__subscription-form-input--size{
        width: 48%;
    }
}

@media(max-width:600px){
    .main__subscription-form {
        width: 80vw;
    }
    .main__subscription-form-payment-inputs {
        justify-content: center;
    }
    .main__subscription-form-payment-input--size {
        width: 10vw;
        &:not(:last-of-type){
            margin-right: 10px;
        }
    }
    .main__subscription-form-card-input--size{
        margin-right: 10px;
    }
    .main__subscription-form-payment-input--size {
        width: 15vw;
    }
    .main__subscription-form-textarea {
        margin-top: 3.5vw;
        height: 15vw;
    }
}