.main__subscription-form-selections-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1vw;
}

.main__subscription-form-select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-of-type) {
        margin-right: 15px;
    }
}

.main__subscription-form-select-label {
    color: $mainText;
    margin-bottom: 5px;
}

.main__subscription-form-payment-header{
    color: $mainText;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.main__subscription-form-select {
    background-color: $sectionDarkBg;
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    width: 15vw;
    border-radius: 10px;
    background-color: transparent;
    background-color: $sectionDarkBg;
}

