@import "../Main/App.scss";
@import "./buttons";
@import "./select";
@import "./inputs";

.main__subscription-form-container {
    @include placeholderSet();
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__subscription-form-container--overflow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/*   MAIN   */

.main__subscription-form {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    border-radius: 25px;
    padding: 2vw 4vw 2vw 4vw;
    width: 45vw;
}

.main__subscription-form-content {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

/*   HEAD   */

.main__subscription-form-legend {
    color: $mainText;
    font-size: 30px;
}

.main__subscription-form-invalid {
    border-bottom: 2px solid #990707;
}
.main__subscription-form-valid {
    border-bottom: 2px solid $mainAccent;
}

@media(max-width:1600px){
    .main__subscription-form-legend {
        font-size: 25px;
    }
}

@media(max-width:1235px){
    .main__subscription-form {
        width: 55vw;
    }
}

@media(max-width:900px){
    .main__subscription-form {
        width:75vw;
    }
}

@media(max-width:600px){
    .main__subscription-form-legend {
        font-size: 20px;
    }
    .main__subscription-form {
        width: 82vw;
        padding: 5vw;
    }
    .main__subscription-form-content {
        padding: 3vw;
    }
    
}