@import "../../sass/fonts";
@import "../../sass/colors";
@import "../../sass/mixins";

@include mainReset();
@include listReset();
@include linkReset();
@include headerReset();
@include scrollbarSet();

.body-container{
    max-width: 1920px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}