@import "../Main/App.scss";

/*   HEADERS   */

.main__team {
    background-color: $sectionDarkBg;
    padding: 5vw;
}
.main__team-header-wrapper {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}
.main__team-header {
    @include fontSet(5em, 1.5em);
    color: $mainText;
}

.main__team-sub-header {
    color: $secondaryText;
    font-size: 1.6em;
    padding-bottom: 5px;
    border-bottom: 4px solid $mainAccent;
}

/*   EMPLOYEE CONTENT*/

.main__team-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*   ADAPTIVE   */

@media (max-width: 1153px) {
    .main__team-sub-header {
        font-size: 4.5em;
    }
}

@media (max-width: 940px) {
    .main__team-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 672px) {
    .main__team-header {
        font-size: 1.2em;
    }
    .main__team-sub-header {
        font-size: 3.5em;
    }
}

@media (max-width: 430px) {
    .main__team-header {
        font-size: 1.1em;
    }
    .main__team-sub-header {
        font-size: 3em;
    }
}