@import "../Main/App.scss";

/*   HEADERS   */

.main__about {
    padding: 4vw 15vw 6vw 15vw;
    background-color: $sectionDarkBg;
}

.main__about-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4.5vw;
}

.main__about-header {
    font-family:  'OpenSans Regular', Arial, Helvetica, sans-serif;
    @include fontSet(3.5em, 1.2em);
    color: $mainText;
    cursor: default;
}

.main__about-sub-header {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    @include fontSet(2em, 2em);
    color: $mainText;
    width: fit-content;
    padding-bottom: 5px;
}

.main__about-sub-header--padding {
    padding-bottom: 10px;
}

.main__about-headers-border {
    border-bottom: 4px dashed $mainAccent;
}

/*   DESCRIPTION LIST  */

.main__about-content {
    display: flex;
    align-items: center;
}
.main__about-list {
    width: 45vw;
}
.main__about-list-element {
    position: relative;
    width: unset;
    &:not(:last-of-type) {
        margin-bottom: 5em;
    }
}
.main__about-line--animation {
    bottom: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    animation: lineSliding 1s;
    background-image: linear-gradient($mainAccent, $mainAccent);
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

@keyframes lineSliding {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
}

.main__about-list-element-button {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: $secondaryText;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
        color: $mainText;
    }
    &:focus {
        color: $mainText;
    }
}
.default-focus {
    color: $mainText;
}

/*   DESCRIPTION   */

.main__about-list-element-content {
    width: 45em;
    border: 2px solid $mainBorder;
    border-radius: 5px;
    position: relative;
    padding: 15px;

}
.main__about-list-element-text {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
    @include fontSet(1.2em, 1.49em);
    text-align: justify;
    color: $mainText;
    animation: fade-in 2.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .main__about {
        padding: 6vw 3vw;
    }
    .main__about-heading-wrapper {
        align-items: center;
    }
    .main__about-content {
        flex-direction: column-reverse;

    }
    .main__about-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
        margin-top: 10vw;
        margin-bottom: 5vw;
    }

    .main__about-list-element {
        &:not(:last-of-type) {
            margin-bottom: 0;
            margin-right: 5vw;
        }
    }
    .main__about-list-element-content {
        max-height: 100vw;
        width: 75vw;
        overflow-y: scroll;
    }
}

@media (max-width: 570px) {
    .main__about {
        padding: 12vw 3vw;
    }
    .main__about-heading-wrapper {
        margin-bottom: 10vw;
    }
    .main__about-header {
        @include fontSet(2.5em, 1em);
    }
    .main__about-sub-header {
        @include fontSet(1.5em, 1.5em);
    }
    .main__about-list-element-content{
        border-radius: 0;
    }
    .main__about-list-element-button {
        font-size: 1.2em;
    }
    .main__about-list-element-text {
        @include fontSet(1em, 1.5em);
        text-align: justify;
    }
}